body {
    background-color: gray;
}

 .border{
   border-bottom: 2px solid black;
    }
 .logo{
   font-size: 20px;
   text-align: center;
 }
 .link{
   margin-top: 10px;
   text-align: center;
   border-bottom: none;
   border: 2px solid black;
   border-radius: 10px;
 }